---
const { pageTitle } = Astro.props;
import Navigation from "../components/Navigation.astro";
import Hamburger from "../components/Hamburguer.astro";
import Themelcon from "./Themelcon.astro";

---

<header>
  <nav>
    <Hamburger />
    <Themelcon/>
    <Navigation />
  </nav>
</header>
