---
const { pageTitle } = Astro.props;
import Navigation from "../components/Navigation.astro";
import Hamburger from "../components/Hamburguer.astro";
---

<header>
  <nav>
    <Navigation />
    <Hamburger />
  </nav>
</header>
